{
  "presets": [
    [
      "@babel/env",
      {
        "debug": false,
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "useBuiltIns": false
      }
    ],
    "@babel/react"
  ]
}
